Leiningen.gitignore
*.cpcache
*.vscode
*.vscode/*
.clj-kondo
.calva
.exercism
.lsp
.cpcache
*.nrepl-port
*repl-port

pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/*
/**/target/
/checkouts/
**/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

.hgignore
.hg/
/.prepl-port
/checkouts
profiles.clj
.idea/
/.lein-*
.idea/
*.iml
.vscode
.lsp/*
.clj-kondo/*
.calva/*

/.shadow-cljs/
node_modules/
